 /*
 http://www.colourlovers.com/palette/4513569/nature_fashion
 http://www.dafont.com/de/europe-underground.font
 */
 
 @font-face { font-family: europe; src: url('EuropeUnderground_light.ttf'); } 
 
body {
  margin: 0;
  padding: 0;
  background-color: #93BCBE;
}
h1 {
	color: white;
  background-color: #5D8B9B;
	text-align: center;
	font-family: europe;
	font-size: 3em;
	letter-spacing: 0.1em;
	font-style: bold;
	font-variant: normal;
	font-weight: 5000;
	line-height: 1.2em;
	padding: 0.25em;
  border-top: thick solid #4C7A8A;
  border-bottom: thick solid #6E9CAC;
}

#menu {
  text-align: center;
}

#CanvasBox {
  text-align: center;
}

nav {
  visibility: hidden;
  background-color: #EAAE8C;
  margin: 0;
}

ul {
  text-align: center;
  margin: 0;
}

.menu_icon {
  font-size: 2em;
  /* background-color: #CB5E5B;
  */
}

li {
  list-style-type: none;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 2em;
}

li:hover {
  background-color: #CB5E5B;
  cursor: pointer;
}

.title {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -130px;
}